# Import dataset

In [1]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [5]:
import pandas as pd

dataf = pd.read_csv (r'csv_result-IMDB(100).csv')
print(dataf)

     id  Sci-Fi  Crime  Romance  Animation  Music  Comedy  War  Horror  \
0     1       0      0        0          0      1       0    0       0
1     2       0      0        0          0      0       0    0       0
2     3       0      0        0          0      0       0    0       0
3     4       0      0        0          0      0       0    0       0
4     5       0      0        0          0      0       1    1       0
..  ...     ...    ...      ...        ...    ...     ...  ...     ...
95   96       1      0        0          1      0       0    0       0
96   97       0      0        0          0      0       1    0       0
97   98       0      0        0          0      0       0    0       0
98   99       0      0        0          0      0       0    0       0
99  100       0      0        0          0      0       0    0       0

    Film-Noir  ...  Documentary  Musical  History  Family  Reality-TV  \
0           0  ...            0        0        0       0           0
1           0  ...            0        0        0       0           1
2           0  ...            0        0        0       0           0
3           0  ...            0        0        0       0           0
4           0  ...            0        0        0       0           0
..        ...  ...          ...      ...      ...     ...         ...
95          0  ...            0        0        0       0           0
96          0  ...            0        0        0       0           0
97          0  ...            0        0        0       0           0
98          0  ...            0        0        0       0           1
99          0  ...            1        0        0       0           0

    Fantasy  Game-Show  Sport  Biography  \
0         0          1      0          0
1         0          0      0          0
2         0          0      0          0
3         0          0      0          0
4         0          0      0          0
..      ...        ...    ...        ...
95        0          0      0          0
96        0          0      0          0
97        0          0      0          0
98        0          0      0          0
99        0          0      0          0

                                           title-text
0   __100_000 Name That Tune_ (1984) A short-lived...
1   __25 Million Dollar Hoax_ (2004) An updated ve...
2   __5 Cover_ Seattle_ (2009) A three-episode rea...
3   __9_99_ (2003) The independent music scene in ...
4   __Allo _Allo__ (1982) Can you have fun in New ...
..                                                ...
95  _8th Man_ (1965) Want to know what the high-st...
96  _9 to 5_ (1982) Animated series about an andro...
97  _90210_ (2008) Second television version of th...
98  _99 Most Amazing_ (2006) As West Beverly prepa...
99  _A benn_nk _l_ m_tosz_ (2006) A family burns t...

[100 rows x 30 columns]

# Removing movie name and year

In [6]:
#print(type(dataf))

unprocessed_list = dataf['title-text'].tolist()
#print(len(unprocessed_list))
processed_list = []

for i in range(0,len(unprocessed_list)):
    strtest = unprocessed_list[i]

    index1 = strtest.index(")")
    temp = []
    for j in range(index1+1,len(unprocessed_list[i])):
        temp += unprocessed_list[i][j]
    
    strt = "".join(temp)

    processed_list.append(strt)

In [7]:
dfupdate = pd.DataFrame(processed_list)
dfupdate.head(10)

                                                   0
0   A short-lived quiz show hosted by TV veteran ...
1   An updated version of the popular long-runnin...
2   A three-episode reality series A woman has to...
3   The independent music scene in Seattle is a v...
4   Can you have fun in New York City on 999 Befo...
5   A mischievous boy who allows pets to escape t...
6   In 2015 CC Corporations data-center caught on...
7   Despite restrictions placed upon his characte...
8   Four years after the Twilight incident in the...
9   In an alternate reality the Cold War never en...

In [8]:
df1 = dataf[['id']]
df1.insert(1, 'title-text', processed_list)
df1.head()

   id                                         title-text
0   1   A short-lived quiz show hosted by TV veteran ...
1   2   An updated version of the popular long-runnin...
2   3   A three-episode reality series A woman has to...
3   4   The independent music scene in Seattle is a v...
4   5   Can you have fun in New York City on 999 Befo...

# Add a column for movie years

In [9]:
yearList = []
for i in range (0,len(df1['title-text'])):
    
    strtest = dataf['title-text'][i]
    index1 = strtest.index("(")
    index2 = strtest.index(")")
    year = ''
    chkindex = 0
    for ele in range(index1+1, index2):
        year = year + strtest[ele]
        chkindex += 1
        if(chkindex > 3):
            break
        #print(strtest[ele])
    #print(year)
    yearList.append(year)
    #print(len(df1['title-text']))

print(len(yearList))

100

In [10]:
print(yearList[2])

2009

# Extraction of movies name

In [11]:
movienameList = []
for i in range (0,len(dataf['title-text'])):
    
    strtest = dataf['title-text'][i]
    #index1 = strtest.find("_")
    #index2 = strtest.find("_",index1+1)
    
    index1 = strtest.index("(")
    name = ''
    chkindex = 0
    for ele in range(0, index1):
        name = name + strtest[ele]
        #chkindex += 1
        #if(chkindex > 3):
        #    break
    movienameList.append(name)
    #print(len(df1['title-text']))

print(len(movienameList))

100

# add year column to dataset for each movie

In [12]:
dfnew = df1

dfnew.insert(1, 'Year', yearList)
dfnew.insert(2, 'Name', movienameList )
dfnew.head()

,id,Year,Name,title-text
0,1,1984,__100_000 Name That Tune_,A short-lived quiz show hosted by TV veteran ...
1,2,2004,__25 Million Dollar Hoax_,An updated version of the popular long-runnin...
2,3,2009,__5 Cover_ Seattle_,A three-episode reality series A woman has to...
3,4,2003,__9_99_,The independent music scene in Seattle is a v...
4,5,1982,__Allo _Allo__,Can you have fun in New York City on 999 Befo...

In [13]:
#removing extra characters from movie names
new_list = [s.replace("_", "") for s in movienameList]
new_list

['100000 Name That Tune ',
 '25 Million Dollar Hoax ',
 '5 Cover Seattle ',
 '999 ',
 'Allo Allo ',
 'hackRoots ',
 'hackSIGN ',
 'hackTasogare no udewa densetsu ',
 '009-1 ',
 '1 Day with ',
 '1 vs 100 ',
 '10 Days to War ',
 '10 Finnish Architects An Outsiders View ',
 '10 om te zien ',
 '10 Things I Hate About You ',
 '10 Years of Monkey Business ',
 '10-8 Officers on Duty ',
 '100 Deeds for Eddie McDowd ',
 '100 Greatest Artists of Rock  Roll ',
 '100 Greatest Discoveries ',
 '100 Moments That Rocked TV ',
 '1000 millones ',
 '1000 seconden ',
 '1000cc Raw Thrill ',
 '101 Dalmatians The Series ',
 '101-kai me no puropozu ',
 '106  Park Prime ',
 '109 ',
 '10th Muse ',
 '11 Cameras ',
 '12 OClock High ',
 '12 stulyev ',
 '13 Weeks ',
 '15Love ',
 '1628 ',
 '17 - o poveste despre destin ',
 '18  Over ',
 '18 Wheels of Justice ',
 '1967 World Series ',
 '1975 World Series ',
 '1986 World Series ',
 '1990 ',
 '1st  Ten ',
 '2 Stupid Dogs ',
 '20 plus ',
 '20-e dekabrya ',
 '2020 ',
 '200 Greatest Pop Culture Icons ',
 '2000 Malibu Road ',
 '20tantos ',
 '20th Century with Mike Wallace ',
 '21 Jump Street ',
 '21st Century Terror ',
 '227 ',
 '24 ',
 '247 Chicago ',
 '247 Airport ',
 '240-Robert ',
 '24 Conspiracy ',
 '26 N Halsted ',
 '26000 gezichten ',
 '3 bogatyrya ',
 '3 i ms ',
 '3 Non-Blondes ',
 '3s a Crowd ',
 '3-2-1 Contact ',
 '3-South ',
 '30 Days Til Im Famous ',
 '30 Days of Night Blood Trails ',
 '30 for 30 ',
 '30 for 30 ',
 '30 Seconds to Fame ',
 '30 segundos ',
 '30x30 Kid Flicks ',
 '33 Brompton Place ',
 '360 - Die GEO-Reportage ',
 '365gay News ',
 '3rd Rock from the Sun ',
 '413 Hope St ',
 '42 ',
 '5 Seekers ',
 '500 Nations ',
 '6 Setzen - Das Wissensduell Gro gegen Klein ',
 '60 Minute Makeover ',
 '60 Minutes ',
 '7 das al desnudo ',
 '7 vidas ',
 '704 Hauser ',
 '72 Hours True Crime ',
 '77 Sunset Strip ',
 '7th Heaven ',
 '8 Simple Rules for Dating My Teenage Daughter ',
 '850 to Paddington Green ',
 '87th Precinct ',
 '8th  Ocean ',
 '8th Man ',
 '9 to 5 ',
 '90210 ',
 '99 Most Amazing ',
 'A bennnk l mtosz ']

In [14]:
#update dataframe to replace updated list of movies name
dfnew.drop('Name', inplace=True, axis=1)
dfnew.insert(2, 'Name', new_list )

dfnew.head()

/srv/conda/envs/notebook/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,id,Year,Name,title-text
0,1,1984,100000 Name That Tune,A short-lived quiz show hosted by TV veteran ...
1,2,2004,25 Million Dollar Hoax,An updated version of the popular long-runnin...
2,3,2009,5 Cover Seattle,A three-episode reality series A woman has to...
3,4,2003,999,The independent music scene in Seattle is a v...
4,5,1982,Allo Allo,Can you have fun in New York City on 999 Befo...

# FINAL UPDATED DATAFRAME

In [15]:
dfnew.to_pickle(r'cleanedDATApk.pk1')

In [16]:
import pandas as pd
#storing dataframe as pickle in drive
unpickled_df = pd.read_pickle(r'cleanedDATApk.pk1')

In [17]:
unpickled_df.head()

,id,Year,Name,title-text
0,1,1984,100000 Name That Tune,A short-lived quiz show hosted by TV veteran ...
1,2,2004,25 Million Dollar Hoax,An updated version of the popular long-runnin...
2,3,2009,5 Cover Seattle,A three-episode reality series A woman has to...
3,4,2003,999,The independent music scene in Seattle is a v...
4,5,1982,Allo Allo,Can you have fun in New York City on 999 Befo...

In [18]:
corpus_unpkled = unpickled_df['title-text'].tolist()
corpus_unpkled

[' A short-lived quiz show hosted by TV veteran Jim Lange Husband-and-wife teams would compete against each other in answering a tough series of trivia questions The winning couple would then go on to the championship round where they would have a chance to win one million dollars Two married couples sometimes including a returning champion competed in one of the first game shows to offer 1 million as a grand prize In 1000000 Chance of a Lifetime which combined elements of Wheel of Fortune and Scrabble the couples competed to solve word puzzles Up to six clues were given for the puzzles solution one member of each team was selected to try to guess each clue word with letters inserted at random except for the last one Each correct guess was worth 25 and allowed the contestant to go to the keyboard The keyboard indicated which letters were in the puzzle plus one stinger an extra letter not in the puzzle selecting the stinger meant the contestant lost hisher turn and a new clue was played Each selected letter revealed in the puzzle added 25 to the pot the team that solves the puzzle won the pot Three rounds were played with the second round values of 50 per cluepuzzle letter and third round values of 100 each The team with the most money after three rounds was champion kept their winnings and advanced to the bonus round In the bonus round the couple selected a category from a choice of three and then are locked in an isolation booth The couple has 60 seconds to guess six words associated with that category For each successful bonus round win the couple was given a cash prize 5000 on day 1 10000 on day 2 or they could give it back and continue always at risk of losing a subsequent bonus round and thus having to leave the show Only by winning three bonus rounds in a row did the couple win the 1 million grand prize The 1 million was awarded as all cash during the spring 1986 season and 900000 plus a 100000 luxury prize package two Mazda cars a house full of furniture including a living room dining room bedroom complete kitchen and outdoor spa and twenty round-trip airline tickets to anywhere in America on Delta Air Lines during the 1986-1987 season',
 ' An updated version of the popular long-running quiz show hosted by Jim Lange Two contestants compete to see who has the greater knowledge of popular songs As the music plays the first contestant to name the song wins money and prizes Additional challenges include the contestants bidding on how few notes they need in order to name that tune Two contestants competed in a series of musical identification games in this 1980s five-day-a-week update of Name That Tune Games included Melody Roulette where host Lange spun a carnival wheel to determine the dollar value of the tune Tune Topics where each songs title was related and the famous Bid-a-Note where contestants were given the clue to a song and then bid downward against each other to determine how few notes they needed I can name that tune in three notes Contestants won points for winning each round the high scorer after three rounds was champion and moved on to the Golden Medley In the Golden Medley the champion had to identify seven tunes within 30 seconds Prizes were awarded for each correct answer An incorrect guess stopped the game while naming all seven tunes won an additional prize package and the right to return for a tournament which took place every eight weeks or so for 100000 in cash and prizes Some of the prizes offered for the tournament winners were awarded individually to winners in a home- viewer contest',
 ' A three-episode reality series A woman has to convince her family that she has won the lottery and that the money has turned her from a nice girl into a selfish shopaholic If the prank is successful the family really will win a large prize If she fails her and her family get nothing',
 ' The independent music scene in Seattle is a vibrant community of talented musicians 5 Cover Seattle is a dramatic series from Humpdays Lynn Shelton that takes place over 1 weekend in the lives of 14 Seattle bands as they interact practice work perform and hang out with their friends',
 ' Can you have fun in New York City on 999 Before you say fuhgetaboutit let 999 hosts Julie Laipply Brian McMullan Maryam Basir and Rich Collier show you inexpensive and free things to do in the five boroughs Every episode of 999 is a whirlwind tour of New York Citys unique neighborhoods Visit parks museums restaurants galleries and a whole host of interesting attractions that cost little or no money Each show reveals eight to ten adventures with a combined cost that never tops 999 Whether youre watching from new York New Jersey or Connecticut satellite or cable dont miss out on the next adventure for only 999',
 ' A mischievous boy who allows pets to escape then earns a reward for returning the animals meets Mr Rana a strange new neighbor with an affinity for frogs - so much so that the man has created a frog pond in his own bedroom Soon the neighbors are disappearing frogs are appearing and the youngster his catching flies for Mr Ranas large amphibians',
 ' In 2015 CC Corporations data-center caught on fire destroying The World By splicing in data from what would have been another project CC Corp was able to rebuild the game In 2016 The World R2 was released hackRoots covers the time Haseo spent with Shino and Ovan in the guild known as the Twilight Brigade before the hackGU PS2 games',
 ' Despite restrictions placed upon his character Tsukasa has been logged into the game for 10 days straight and rumors fly about a player-killing monster running loose At Soras suggestion Subaru and the Knights declare Tsukasa a wanted player throughout The World',
 ' Four years after the Twilight incident in the hack video games stability has seemingly returned to the on-line RPG The World Shugo and Rena twin siblings who are living apart from each other mysteriously acquire the player models of the hackers Kite and BlackRose respectively But invincible monsters have now made their way into the game - possibly as a result of a group of rogue players Shugo is given the Twilight Bracelet a dangerous data-altering item entrusted to the original Kite Shugo and Rena along with their newfound friends in the game including Balmung and Sanjuro two original players involved with the Twilight conflict attempt to uncover the secret of these events while also avoiding the Cerulean Knights a relentless team of system administrators',
 ' In an alternate reality the Cold War never ended and has continued on for 140 years As a result the world we knew was divided into two factions the West Block and the East Block As the War proceeds the tension between the two factions as well as the amount of nuclear weapons they have rise higher and higher Mylene Hoffman009-1 is a beautiful female cyborg who is a spy for the West Block With her highly developed fitness skills with a cyborg body surpassing an average woman Mylene takes action in various missions issued by her superiors',
 ' KST and SOAPnet are producing a season of 1 Day With 1 Day With is an un-scripted reality-based celebrity profile of a daytime actor for one day The show provides the audience with their first opportunity to witness real moments with their favorite actors who reveal their personal life off the set Popular daytime actor Wally Kurth Ned on General Hospital is the shows host Wally has a fresh and disarming way of interacting and communicating with his fellow actors He brings a playful and endearing quality to the show as we watch him and the guest actoractress share the day together Each episode features the two stars in a day that is unique to each guest Wally will look inside their home learn about their family explore their passions and find out about other aspirations they may have outside their acting career Its a candid spontaneous and often surprising look into the lives of daytime soap actors',
 ' Federal prosecutor Beth Duncan who worked on a hate crime is abducted while attending her daughters green belt ceremony Issue of race come up in this case as the team sifts through a long list of criminals with motives Eventually Jess and Nicole rescue the prosecutor but wind up killing her abductor in the process But for Beth the kidnapper is ultimately proved innocent in the original crime for which she had him convicted for',
 ' A series of eight dramas to mark the fifth anniversary of the invasion of Iraq Each drama focuses on a real event that happened exactly five years ago to the day',
 ' Leslie wants to join the Bisons a high society club and plans on attending an event to make sure he gets in Leslie learns that he needs a date because the Bisons are big on pairs Leslie then begins his search and finally convinces Ingrid to go with him',
 ' This hit show in both senses of the term was for years Flanders weekly equivalent of the BBCs Top of the Pops but on commercial TV VTM Over time presenters came and went and some minor features too such as voting in a relatively unknown but basically it has always been a parade of Flemish and some international slightly more English - then Dutch - occasionally other language hit songs performed live indoors often in a major disco or outdoors later it was removed from the weekly schedule but tends to reoccur in summer on location at the Belgian coast',
 ' Kat and Bianca Straford may be sisters but all comparisons end there Kat is an outspoken independent feminist Bianca is a social butterfly who wants nothing more to be popular even if it means bowing to the whims of people like the demanding Chastity Church The series highlights the Stratford sisters as they experience the highs and lows of high schools deal with their overprotective father and find love In Biancas case this is her friend Cameron who has a huge crush on her while Kat finds herself in an interesting relationship with school bad boy Patrick Verona',
 ' A farewell series of 3 programmes celebrating the last 10 years of the phenomenally successful Monkey Business The series has followed the day -to -day lives of apes and monkeys at one of the largest primate rescue centres in the world In todays programme we look back at the Monkey Business MEMORABLE CHARACTERS',
 ' Valero returns filling in for Layne Amante and Barnes attend a murder staged to look like suicide Jablonskis attitude gets him in trouble Rico gets an invitation to join the station boxing team and witnesses a birth A grandmother asks for help with her wayward grandson A man takes a gun into the station',
 ' 100 Deeds for Eddie McDowd stars a school bully who got turned into a dog by a drifter for being a bad kid He then ends up in the pound where hes adopted by the last kid he bullied From there Eddie McDowd has to perform 100 good deeds in order to become a kid again',
 ' The 100 Greatest Artists of Rock  Roll was the very first installment of the long running 100 Greatest franchise for VH1 Hosted by Kevin Bacon qv the mini-series of 5 one-hour episodes counted down the 100 most influential artists according to a VH1 survey of rock stars pop stars band members musicians and producers',
 ' Bill Nye The Science Guy hosts a new series that highlights the greatest scientific discoveries of all time from the earliest time to the present day The series features nine episodes Evolution Earth Sciences Medicine Physics Astronomy Chemistry Genetics and Biology plus a wrap up episode featuring the top 10 discoveries of all time This is a fun and instructive series with a lot of historical re-creations archival footage visits to interesting scientific research facilities and interviews with present-day scientists including several Nobel laureates - all presented with the flair and humor associated with televisions Science Guy Bill Nye',
 ' A joint effort of the VH1 cable network and TV Guide magazine this five-part series offered a countdown of the 100 greatest musical moments ever telecast Each episode offered 20 of those moments on a descending scale ie 100-81 80-61 etc Among the highlights represented via film and video excerpts and eyewitness recollections were the creation of MTV Michael Jacksons Moonwalk Britney Spears first appearance on Star Search the debuts of such musically oriented series as The Monkees and The Sonny and Cher Show and even such celebrated disasters as Mariah Careys strip meltdown on Total Request Live The same list appeared both on VH1 and in the pages of TV Guide though there were a few discrepancies in the rankings For example while VH1 had once rated the Beatles American debut on The Ed Sullivan Show as the number one TV musical event of all time TV Guide superseded this with Bill Clintons saxophone solo on The Arsenio Hall Show The VH1 version of 100 Moments That Rocked TV ran for five consecutive evenings beginning January 13 2003',
 ' Julian Vargas is a person very humid and a little vulgar loves women and very caring for his friends He is separated and lives in the Boca neighbor hood with his adopted mother and his brother He has an aunt and a cousin a little slow and friend Luis He is a workman in the dry dock of Tigre This way he earns his living and does not have high expectations of life Does not study left high school in the third year and lives his life and seducing women Carolina Marin is a neighbor of Julian and his friend since they where very young Carolina is a student in the university and she is left only one year to graduate and receive her diploma as an accountant She is an example very beautiful good very hard learning loves her father and lives for him The real father of Julian a very powerful business man is very ill and on his dieting bad he had decided to leave his in heritage his huge fortune to his son that he had never known all his businesses is 1 billion For this he heirs a lower to take care of everything The family of the father of Julin does not know that Julian exists and they are sure that all the in heritage of the 1 billion will go to them Pilar Arias is a very unparticular girl of 28 years old she had a very reach and good life only that her father a hardhearted player that she didnt see for a long time he had left her and her mother in the street this is why they had emigrated to Brazil went through lots of privations Pilar returns to Buenos Aires ready for to gain at any cost the place that they had lost long ago From one day to another Julin Vargas receives an important news his biological father whom he did not know is dying The magnate Manuel Prado Calets will leave him a Billion Dolars inheritance that will test the values of this man which only fortune they are his family and his childhood friend Carolina Marn Julin lives in a humble neighborhood with his adoptive mother his brothers Diego and Gisella and he works as an employee at the port His more valued exchequers are his friends of the neighborhood the football matches his car The Torino and his fleeting romances Unlike Julin Carolina is about to finish her carrier and works a very important holding and though she is a simple woman her ambitions always overcame to those of his friend But they share something more than the old neighborhood they were part of a former history of sweet teenager love Many people will try to separate Julin of his fortune The managers of the holding Lanari and Pilar Arias and the family Prado Calets will fight up to the end to destroy him Julin and Carolina will try to overcome the conflicts that they will be provided by this new life riddled with power interests and enemies Together they will cross a new way and will discover a great love',
 ' In this popular cooking show Herwig Van Hove an erudite outspoken and witty college professor and passionate gastronome presents a recipe for a main dish and sometimes a dessert which takes him no more then 1000 seconds hence the title circa 17minutes to prepare assisted by the popular blabbermouth-presenter Dr Steemans better known as his phony-Italian alter-ego Felice his soundboard for various tips on cooking ingredients the food business etc which continue during the tasting',
 ' 1000CC Raw Thrill is a Sport-bike Lifestyle motorcycle show hosted by long time Motorcycle Industry insider Greg White and Erin Bates of AMA Supercross fame 1000cc Raw Thrill introduces and entertains the audience about the world of Sport-bike riding and all that it has to offer The show features in-studio interviews from some of the industrys top experts and riders tech tips the latest in sport-bike technology stories from around the United States and more',
 ' This show acts as a mix of the Dodie Smith book 1961 animated movie and 1996 live-action movie After foiling Cruella DeVils plot to make a fur coat with the puppies skins the Dearly Family Roger and Anita Dearly Nanny Pongo Perdita their 15 birth puppies and 84 adopted puppies move to a new farm home in the country This show centers on three of Pongo and Perdys pups brave Lucky tubby Rolly and Cadpig the runt Together with their chicken friend Spot they defend their new home from Cruella DeVil Anitas boss and now new neighbor continually get in and out of trouble sneak into Grutely and have all sorts of crazy adventures around the farm Also along for the fun is Tripod Patch Two-Tone Wizzer Dipstick Mooch and the rest of their barnyard friends',
 ' A young man has problems finding his true love His brother tries to help him out but to no avail It seemed as though this man would be on the brink of major depression until he meets a beautiful young lady This drama follows their relationships and the people who surround them',
 ' Celebrities at the prime of their lives and caareers host the spin-off series of 106  Park Top 10 Live Ongoing projects by the artists are discussed as their music acting athletic comic and intellectual talents are shown to a live audience through music videos and interviews with guests',
 ' 109 is a documentary series that examines significant social and cultural trends transforming Canadian society We live in a world where national borders crumble in the face of sweeping social and cultural trends Instant communications Internet and easy travel have created a world where people and ideas move freely Cultures and trends spread around the globe at the speed of light And Perhaps because of its cultural diversity Canada finds itself at the crossroad of these vast and influential trends 109 examines how Canadian find themselves swept up by trends A road map to the social and cultural trends that affect your lives today',
 ' Emma Sonnet was mysteriously abducted two years ago during a summer trip to Greece while celebrating her graduation from law school Today she resurfaces just as mysteriously with a unique take on the law Upon discovering her strange and remarkable abilities she becomes torn between battling in the courtroom and dealing justice in the streets her own way as the 10th Muse',
 ' Postal mailboxes are mostly empty these days Long-distance friends and lovers have traded in their pen and ink for the ones and zeros of e-mail and the electronic hum of ten thousand web cams Computers are the new breeding ground for todays relationships Love sex loneliness fear money woes longing adultery and jealousy -- 11 CAMERAS is a voyeuristic look at human relationships and the new ways we connect to one another in the digital age',
 ' This series chronicles the adventures--in the air and on the ground--of the men of the 918th Bombardment Group of the US Eighth Air Force First commanded by irascible General Frank Savage--and later by Colonel Joe Gallagher the son of a Pentagon General--the Group is stationed in England and flies long-range bombing missions into German-held Europe',

# PREPROCESSING BEGINS

In [19]:
!pip install nltk
import nltk
nltk.download('punkt')

Requirement already satisfied: nltk in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.6.2)
Requirement already satisfied: click in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nltk) (8.0.1)
Requirement already satisfied: joblib in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nltk) (1.0.1)
Requirement already satisfied: regex in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nltk) (2021.4.4)
Requirement already satisfied: tqdm in /srv/conda/envs/notebook/lib/python3.7/site-packages (from nltk) (4.61.1)
Requirement already satisfied: importlib-metadata in /srv/conda/envs/notebook/lib/python3.7/site-packages (from click->nltk) (3.4.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from importlib-metadata->click->nltk) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from importlib-metadata->click->nltk) (3.4.0)

[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [20]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words("english")

[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [21]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [22]:
import nltk
import re
nltk.download("wordnet")
from nltk.corpus import wordnet
# Import the SnowballStemmer to perform stemming
from nltk.stem.snowball import SnowballStemmer
# Create an English language SnowballStemmer object
stemmer = SnowballStemmer("english")

def remove_punctuation(w):
    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~‘’“”'''
    no_punct = ""
    for char in w:
        if char not in punctuations:
            no_punct = no_punct + char
    w = no_punct

    return (w)


def tokenize_and_stem(text):

    # Tokenize by sentence, then by word
    tokens = [y for x in nltk.sent_tokenize(text) for y in nltk.word_tokenize(x)]

    # Filter out raw tokens to remove noise
    filtered_tokens = [token for token in tokens if re.search('[a-zA-Z]', token)]

    # Remove all punctuations
    removed_punc = [remove_punctuation(w) for w in filtered_tokens]
    
    # Stem the filtered_tokens
    stems = [stemmer.stem(word) for word in removed_punc]

    #filter stems

    return stems

# This function will do casefolding .
def case_folding(w):
    return (w.lower())

# function to break string into list of words
def make_word_list(word_list):
    W = []
    w = ''
    for word in word_list:
        if ((word != ' ') and (word != '.') and (word != ']') and (word != '\n') and (word != '-') and (
                word != '—') and (word != '?') and (word != '"') and (word != '…') and (word != '/')):
            w = w + word
        elif ((w != '')):
            W = W + [w]
            w = ''
    if ((w != '')):
        W = W + [w]
    return (W)


tempWordList = []
synonyms = []
file = open('data.txt', 'w')
for i in range (0,len(corpus_unpkled)):
        wList = make_word_list(corpus_unpkled[i])
        for word in wList:
            word = case_folding(word)
            if word not in sw:
                for syn in wordnet.synsets(word):
                    for l in syn.lemmas():
                        synonyms.append(l.name())
                for s in synonyms:            
                    tempWordList.append(s)
 
        
        item = " ".join(set(tempWordList))                
        file.write('%s\n' % item)  
        tempWordList = []    

                                        
file.close()

[nltk_data] Downloading package wordnet to /home/jovyan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [23]:
stopw = [remove_punctuation(x) for x in sw ]
stemsw = [stemmer.stem(xw) for xw in stopw]

In [24]:
#get save data from file for clustering
with open(r'data.txt') as f:
    content = f.readlines()
#to remove whitespace characters like `\n` at the end of each line
content = [x.strip() for x in content]

In [26]:
#creating a dataframe with updated values 
dfFINAL = dataf[['id']]

dfFINAL.insert(1, 'Year', yearList)
dfFINAL.insert(2, 'Name', new_list )
dfFINAL.insert(3,'summary', content)


dfFINAL.head(10)

,id,Year,Name,summary
0,1,1984,100000 Name That Tune,dead_reckoning unitary terzetto go snuff_it ev...
1,2,2004,25 Million Dollar Hoax,gild hebdomad dead_reckoning unitary terzetto ...
2,3,2009,5 Cover Seattle,gild hebdomad dead_reckoning unitary terzetto ...
3,4,2003,999,gild hebdomad dead_reckoning unitary terzetto ...
4,5,1982,Allo Allo,lilliputian gild hebdomad dead_reckoning unita...
5,6,2006,hackRoots,lilliputian gild hebdomad dead_reckoning unita...
6,7,2002,hackSIGN,lilliputian gild hebdomad dead_reckoning unita...
7,8,2003,hackTasogare no udewa densetsu,lilliputian gild hebdomad dead_reckoning unita...
8,9,2006,009-1,lilliputian gild unappeasable hebdomad dead_re...
9,10,2004,1 Day with,lilliputian gild unappeasable hebdomad dead_re...

In [27]:
dfFINAL.to_pickle(r'finalDF.pk1')

In [28]:
import pandas as pd
FINAL_DATAF = pd.read_pickle(r'finalDF.pk1')

In [29]:
# Import TfidfVectorizer to create TF-IDF vectors
from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate TfidfVectorizer object with stopwords and tokenizer
# parameters for efficient processing of text
tfidf_vectorizer = TfidfVectorizer(max_df=1.0, max_features=20000,
                                 min_df=0.0, stop_words= stemsw,
                                 use_idf=True, tokenizer=tokenize_and_stem)



tfidf_matrix =  tfidf_vectorizer.fit_transform([x for x in FINAL_DATAF["summary"]])

In [30]:
print(tfidf_matrix.shape)

(100, 11056)

# K Means Clustering

In [31]:
# Import k-means to perform clusters
from sklearn.cluster import KMeans

# Create a KMeans object with 10 clusters and save as km
km = KMeans(n_clusters=10)

# Fit the k-means object with tfidf_matrix
km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/decomposition/online_lda.py:29: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  EPS = np.finfo(np.float).eps
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.float
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/metrics/pairwise.py:56: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.

In [32]:
# Create a column cluster to denote the generated cluster for each movie
FINAL_DATAF["cluster"] = clusters

# Display number of films per cluster (clusters from 0 to 4)
FINAL_DATAF['cluster'].value_counts()

0    16
7    14
2    12
5    11
4    10
6    10
9     9
1     7
8     6
3     5
Name: cluster, dtype: int64

In [33]:
FINAL_DATAF.head(20)

,id,Year,Name,summary,cluster
0,1,1984,100000 Name That Tune,dead_reckoning unitary terzetto go snuff_it ev...,3
1,2,2004,25 Million Dollar Hoax,gild hebdomad dead_reckoning unitary terzetto ...,3
2,3,2009,5 Cover Seattle,gild hebdomad dead_reckoning unitary terzetto ...,3
3,4,2003,999,gild hebdomad dead_reckoning unitary terzetto ...,3
4,5,1982,Allo Allo,lilliputian gild hebdomad dead_reckoning unita...,3
5,6,2006,hackRoots,lilliputian gild hebdomad dead_reckoning unita...,8
6,7,2002,hackSIGN,lilliputian gild hebdomad dead_reckoning unita...,8
7,8,2003,hackTasogare no udewa densetsu,lilliputian gild hebdomad dead_reckoning unita...,8
8,9,2006,009-1,lilliputian gild unappeasable hebdomad dead_re...,8
9,10,2004,1 Day with,lilliputian gild unappeasable hebdomad dead_re...,8
10,11,2006,1 vs 100,lilliputian gild unappeasable hebdomad dead_re...,8
11,12,2008,10 Days to War,lilliputian gild idle_words unappeasable hebdo...,4
12,13,2003,10 Finnish Architects An Outsiders View,lilliputian gild idle_words unappeasable hebdo...,4
13,14,1989,10 om te zien,lilliputian gild idle_words unappeasable hebdo...,4
14,15,2009,10 Things I Hate About You,lilliputian gild idle_words unappeasable hebdo...,4
15,16,2007,10 Years of Monkey Business,idle_words unappeasable unitary snuff_it divul...,4
16,17,2003,10-8 Officers on Duty,idle_words unappeasable unitary snuff_it divul...,4
17,18,1999,100 Deeds for Eddie McDowd,idle_words unappeasable unitary snuff_it divul...,4
18,19,1998,100 Greatest Artists of Rock Roll,idle_words unappeasable unitary snuff_it divul...,4
19,20,2004,100 Greatest Discoveries,idle_words unappeasable unitary snuff_it divul...,4

In [34]:
clusters

[3,
 3,
 3,
 3,
 3,
 8,
 8,
 8,
 8,
 8,
 8,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6]

In [35]:
from collections import Counter

data_set_size = 10
file = open('data.txt', 'r')
Lines = file.readlines()
clusters_data = [" "] * data_set_size
clusters_theme = [" "] * data_set_size
count = 0

for line in Lines:
    clusters_data[ clusters[ count ] ] = clusters_data[ clusters [ count ] ] + line
    count = count + 1
    
file.close()
count = 0

for data in clusters_data:
    split_form = data.split()
    word_count = Counter(split_form)
    most_occur1 = word_count.most_common(30)
    del most_occur1[0:20]
    most_occur = most_occur1
    for i in range(data_set_size):
        clusters_theme[count] = clusters_theme[count] + " => " + most_occur[i][0]    
    count = count + 1

count=0
for x in clusters_theme:
    print("Cluster " + str(count) + " Theme :" + x)
    count = count + 1

# FINAL_DATAF = pd.read_pickle(r'finalDF.pk1')
# FINAL_DATAF["theme"] = clusters_theme
# FINAL_DATAF.head(20)

Cluster 0 Theme :  => awareness => scent => operating => elude => orotund => enslavement => woo => Boston => artillery => Holland
Cluster 1 Theme :  => crop => use_up => threesome => all_over => oppugn => Church_Father => government_issue => pageboy => focal_point => upper_side
Cluster 2 Theme :  => woo => Boston => artillery => appoint => kitty => envision => interchange => Green => bay_window => crop
Cluster 3 Theme :  => all_over => bemused => uphold => oppugn => dollar_mark => stinger => tercet => sum => genius => Dorothea_Lange
Cluster 4 Theme :  => serial => line_of_work => observation => emergence => ripe => treasure => title-holder => practice => on_an_individual_basis => scent
Cluster 5 Theme :  => interchange => Green => bay_window => crop => letter_carrier => use_up => threesome => all_over => applied_science => modish
Cluster 6 Theme :  => observation => awareness => scent => highjack => hole => operating => elude => orotund => enslavement => woo
Cluster 7 Theme :  => operating => elude => orotund => woo => Boston => artillery => appoint => kitty => envision => interchange
Cluster 8 Theme :  => practice => on_an_individual_basis => elude => orotund => off => unretentive => exact => appoint => kitty => melt
Cluster 9 Theme :  => kitty => envision => interchange => Green => bay_window => crop => letter_carrier => use_up => threesome => all_over

In [36]:
FINAL_DATAF.head()
#len(FINAL_DATAF)

,id,Year,Name,summary,cluster
0,1,1984,100000 Name That Tune,dead_reckoning unitary terzetto go snuff_it ev...,3
1,2,2004,25 Million Dollar Hoax,gild hebdomad dead_reckoning unitary terzetto ...,3
2,3,2009,5 Cover Seattle,gild hebdomad dead_reckoning unitary terzetto ...,3
3,4,2003,999,gild hebdomad dead_reckoning unitary terzetto ...,3
4,5,1982,Allo Allo,lilliputian gild hebdomad dead_reckoning unita...,3

In [37]:
cluster0 = []
cluster1 = []
cluster2 = []
cluster3 = []
cluster4 = []
cluster5 = []
cluster6 = []
cluster7 = []
cluster8 = []
cluster9 = []

for i in range(0,len(FINAL_DATAF)):
    if FINAL_DATAF['cluster'][i] == 0:
        cluster0.append(FINAL_DATAF['Name'][i])
    elif FINAL_DATAF['cluster'][i] == 1:
        cluster1.append(FINAL_DATAF['Name'][i])
    elif FINAL_DATAF['cluster'][i] == 2:
        cluster2.append(FINAL_DATAF['Name'][i])
    elif FINAL_DATAF['cluster'][i] == 3:
        cluster3.append(FINAL_DATAF['Name'][i])
    elif FINAL_DATAF['cluster'][i] == 4:
        cluster4.append(FINAL_DATAF['Name'][i])
    elif FINAL_DATAF['cluster'][i] == 5:
        cluster5.append(FINAL_DATAF['Name'][i])
    elif FINAL_DATAF['cluster'][i] == 6:
        cluster6.append(FINAL_DATAF['Name'][i])
    elif FINAL_DATAF['cluster'][i] == 7:
        cluster7.append(FINAL_DATAF['Name'][i])
    elif FINAL_DATAF['cluster'][i] == 8:
        cluster8.append(FINAL_DATAF['Name'][i])
    else:
        cluster9.append(FINAL_DATAF['Name'][i])

In [38]:
clust_LIST = cluster0 ,cluster1,cluster2,cluster3,cluster4,cluster5,cluster6,cluster7,cluster8,cluster9 
clust_LIST

(['33 Brompton Place ',
  '360 - Die GEO-Reportage ',
  '365gay News ',
  '3rd Rock from the Sun ',
  '413 Hope St ',
  '42 ',
  '5 Seekers ',
  '500 Nations ',
  '6 Setzen - Das Wissensduell Gro gegen Klein ',
  '60 Minute Makeover ',
  '60 Minutes ',
  '7 das al desnudo ',
  '7 vidas ',
  '704 Hauser ',
  '72 Hours True Crime ',
  '77 Sunset Strip '],
 ['1000 millones ',
  '1000 seconden ',
  '1000cc Raw Thrill ',
  '101 Dalmatians The Series ',
  '101-kai me no puropozu ',
  '106  Park Prime ',
  '109 '],
 ['2000 Malibu Road ',
  '20tantos ',
  '20th Century with Mike Wallace ',
  '21 Jump Street ',
  '21st Century Terror ',
  '227 ',
  '24 ',
  '247 Chicago ',
  '247 Airport ',
  '240-Robert ',
  '24 Conspiracy ',
  '26 N Halsted '],
 ['100000 Name That Tune ',
  '25 Million Dollar Hoax ',
  '5 Cover Seattle ',
  '999 ',
  'Allo Allo '],
 ['10 Days to War ',
  '10 Finnish Architects An Outsiders View ',
  '10 om te zien ',
  '10 Things I Hate About You ',
  '10 Years of Monkey Business ',
  '10-8 Officers on Duty ',
  '100 Deeds for Eddie McDowd ',
  '100 Greatest Artists of Rock  Roll ',
  '100 Greatest Discoveries ',
  '100 Moments That Rocked TV '],
 ['10th Muse ',
  '11 Cameras ',
  '12 OClock High ',
  '12 stulyev ',
  '13 Weeks ',
  '15Love ',
  '1628 ',
  '17 - o poveste despre destin ',
  '18  Over ',
  '18 Wheels of Justice ',
  '1967 World Series '],
 ['7th Heaven ',
  '8 Simple Rules for Dating My Teenage Daughter ',
  '850 to Paddington Green ',
  '87th Precinct ',
  '8th  Ocean ',
  '8th Man ',
  '9 to 5 ',
  '90210 ',
  '99 Most Amazing ',
  'A bennnk l mtosz '],
 ['26000 gezichten ',
  '3 bogatyrya ',
  '3 i ms ',
  '3 Non-Blondes ',
  '3s a Crowd ',
  '3-2-1 Contact ',
  '3-South ',
  '30 Days Til Im Famous ',
  '30 Days of Night Blood Trails ',
  '30 for 30 ',
  '30 for 30 ',
  '30 Seconds to Fame ',
  '30 segundos ',
  '30x30 Kid Flicks '],
 ['hackRoots ',
  'hackSIGN ',
  'hackTasogare no udewa densetsu ',
  '009-1 ',
  '1 Day with ',
  '1 vs 100 '],
 ['1975 World Series ',
  '1986 World Series ',
  '1990 ',
  '1st  Ten ',
  '2 Stupid Dogs ',
  '20 plus ',
  '20-e dekabrya ',
  '2020 ',
  '200 Greatest Pop Culture Icons '])

In [39]:
list_clus = []
#clus_dict = dict.fromkeys(['theme', 'movies'])

for i in range (0,10):
    list_clus.append (dict.fromkeys(['theme', 'movies']))
        
#print(list_clus[0]['theme'])

for j in range (0,10):
    list_clus[j]['theme']=(clusters_theme[j])
    list_clus[j]['movies']=(clust_LIST[j])

In [40]:
dfResults = pd.DataFrame.from_dict(list_clus)
dfResults.insert(0, 'cluster', [0,1,2,3,4,5,6,7,8,9])
dfResults.head(10)

,cluster,theme,movies
0,0,=> awareness => scent => operating => elude ...,"[33 Brompton Place , 360 - Die GEO-Reportage ,..."
1,1,=> crop => use_up => threesome => all_over =...,"[1000 millones , 1000 seconden , 1000cc Raw Th..."
2,2,=> woo => Boston => artillery => appoint => ...,"[2000 Malibu Road , 20tantos , 20th Century wi..."
3,3,=> all_over => bemused => uphold => oppugn =...,"[100000 Name That Tune , 25 Million Dollar Hoa..."
4,4,=> serial => line_of_work => observation => ...,"[10 Days to War , 10 Finnish Architects An Out..."
5,5,=> interchange => Green => bay_window => cro...,"[10th Muse , 11 Cameras , 12 OClock High , 12 ..."
6,6,=> observation => awareness => scent => high...,"[7th Heaven , 8 Simple Rules for Dating My Tee..."
7,7,=> operating => elude => orotund => woo => B...,"[26000 gezichten , 3 bogatyrya , 3 i ms , 3 No..."
8,8,=> practice => on_an_individual_basis => elu...,"[hackRoots , hackSIGN , hackTasogare no udewa ..."
9,9,=> kitty => envision => interchange => Green...,"[1975 World Series , 1986 World Series , 1990 ..."

In [41]:
dfResults.to_pickle(r'resultDF.pk1')